<!DOCTYPE html>
<html style="width:100%; height:100%;">
<head>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


<script>
window.setInterval(check_locations, 5000);
var map;
var iconBase = "https://backend.sigfox.com/resources/img/favicon.png?v=4.2.3%2520-%2520197"

function initialize() {
  var mapProp = {
    center:new google.maps.LatLng(37.773612, -122.415819),
    zoom:15,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
  check_locations();
  var bounds = new google.maps.LatLngBounds();
  bounds.extend(marker.position);
  map.fitBounds(bounds);

}

function check_locations(){
	var url="/sigfox/gpslocation";
	var data;
	var request=$.ajax({
	url: url,
	type: "GET",
	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	success: function(data){gps_marker(data)}
	});
}

function gps_marker(data){
	$.each(data, function(index, value) {
	  var LatLng=new google.maps.LatLng(parseFloat(value.lat),parseFloat(value.lng));
	  var marker=new google.maps.Marker({ position:LatLng,icon:iconBase});
	  marker.setMap(map);
    }); 
}


google.maps.event.addDomListener(window, 'load', initialize);
</script>
<style type="text/css">
.google-wrapper {
    position: relative;

}

/*#googleMap {
    width  : 500px;
    height : 380px;
}*/

#google-map-overlay-g {
    position: absolute;
    opacity: 0.7;
    top: 1%; 
    left: 0.5%; 
    z-index: 99;
}
#google-map-overlay-d {
    position: absolute;
    opacity: 0.7;
    top: 1%; 
    right: 0.5%; 
    z-index: 99;
}

#logo-sigfox {
    width:100%;
    height:100%;
    float: left;
}

#logo-samsung {
    width:65%;
    height:65%;
    float: right;
}

</style>
</head>

<body style="width:100%; height:100%;margin:0px;">
	<div class="google-wrapper" style="width:100%; height:100%;">
				

		<div id="googleMap" style="width:100%; height:100%;" class="over_map"></div>
		<div id="google-map-overlay-g">		
 			<img id="logo-sigfox" src="http://sigfox.com/static/sigfox/img/src/logo-sigfox.png">
		</div>
    <div id="google-map-overlay-d">   
      <img id="logo-samsung" src="http://vignette1.wikia.nocookie.net/conworld/images/c/c3/698px-Samsung_Logo.svg.png/revision/latest?cb=20101213172911" >
    </div>
	</div>

</body>
</html>