<!DOCTYPE html>
<html style="width:100%; height:100%;">
<head>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


<script>
window.setInterval(check_locations, 3000);
var map;
var iconBase = "https://backend.sigfox.com/resources/img/favicon.png?v=4.2.3%2520-%2520197"
function initialize() {
  var mapProp = {
    center:new google.maps.LatLng(37.773612, -122.415819),
    zoom:15,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
}

function check_locations(){
	var url="/sigfox/gpslocation";
	var data;
	var request=$.ajax({
	url: url,
	type: "GET",
	beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	success: function(data){gps_marker(data)}
	});
}

function gps_marker(data){
  // /0 - to optimize through loop/
  var LatLng0 = new google.maps.LatLng(parseFloat(data.p0.lat),parseFloat(data.p0.lng));
  var marker0=new google.maps.Marker({ position:LatLng0,icon:iconBase});
  marker0.setMap(map);
  // /1/
  var LatLng1 = new google.maps.LatLng(parseFloat(data.p1.lat),parseFloat(data.p1.lng));
  var marker1=new google.maps.Marker({ position:LatLng1,icon:iconBase});
  marker1.setMap(map);
	// /2/
  var LatLng2 = new google.maps.LatLng(parseFloat(data.p2.lat),parseFloat(data.p2.lng));
  var marker2=new google.maps.Marker({ position:LatLng2,icon:iconBase});
  marker2.setMap(map);
  // /3/
  var LatLng3 = new google.maps.LatLng(parseFloat(data.p3.lat),parseFloat(data.p3.lng));
  var marker3=new google.maps.Marker({ position:LatLng3,icon:iconBase});
  marker3.setMap(map);
  // /4/
  var LatLng4 = new google.maps.LatLng(parseFloat(data.p4.lat),parseFloat(data.p4.lng));
  var marker4=new google.maps.Marker({ position:LatLng4,icon:iconBase});
  marker4.setMap(map);
  // /5/
  var LatLng5 = new google.maps.LatLng(parseFloat(data.p5.lat),parseFloat(data.p5.lng));
  var marker5=new google.maps.Marker({ position:LatLng5,icon:iconBase});
  marker5.setMap(map);
}


google.maps.event.addDomListener(window, 'load', initialize);
</script>
<style type="text/css">
.google-wrapper {
    position: relative;

}

/*#googleMap {
    width  : 500px;
    height : 380px;
}*/

#google-map-overlay {
    position: absolute;
    opacity: 0.7;
    top: 0px; 
    left: 0px; 
    z-index: 99;
}
</style>
</head>

<body style="width:100%; height:100%;margin:0px;">
	<div class="google-wrapper" style="width:100%; height:100%;">
				

		<div id="googleMap" style="width:100%; height:100%;" class="over_map"></div>
		<div id="google-map-overlay">		
 			<img src="http://sigfox.com/static/sigfox/img/src/logo-sigfox.png" style="width:100%; height:100%;" >

		</div>
	</div>

</body>
</html>